<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="productNavigation">
   <!-- <div id="treeview3" class="treeview">
        <ul class="list-group">
            <li style="color:#FFFFFF;background-color:#428bca;" data-nodeid="0"
                class="list-group-item node-treeview3 node-selected"><span
                    class="icon expand-icon glyphicon glyphicon-minus"></span><span class="icon node-icon"></span>Parent
                1
            </li>
            <li style="color:undefined;background-color:undefined;" data-nodeid="1"
                class="list-group-item node-treeview3"><span class="indent"></span><span
                    class="icon expand-icon glyphicon glyphicon-minus"></span><span class="icon node-icon"></span>Child
                1
            </li>
            <li style="color:undefined;background-color:undefined;" data-nodeid="2"
                class="list-group-item node-treeview3"><span class="indent"></span><span class="indent"></span><span
                    class="icon glyphicon"></span><span class="icon node-icon"></span>Grandchild 1
            </li>
            <li style="color:undefined;background-color:undefined;" data-nodeid="3"
                class="list-group-item node-treeview3"><span class="indent"></span><span class="indent"></span><span
                    class="icon glyphicon"></span><span class="icon node-icon"></span>Grandchild 2
            </li>
            <li style="color:undefined;background-color:undefined;" data-nodeid="4"
                class="list-group-item node-treeview3"><span class="indent"></span><span
                    class="icon glyphicon"></span><span class="icon node-icon"></span>Child 2
            </li>
            <li style="color:undefined;background-color:undefined;" data-nodeid="5"
                class="list-group-item node-treeview3"><span class="icon glyphicon"></span><span
                    class="icon node-icon"></span>Parent 2
            </li>
            <li style="color:undefined;background-color:undefined;" data-nodeid="6"
                class="list-group-item node-treeview3"><span class="icon glyphicon"></span><span
                    class="icon node-icon"></span>Parent 3
            </li>
            <li style="color:undefined;background-color:undefined;" data-nodeid="7"
                class="list-group-item node-treeview3"><span class="icon glyphicon"></span><span
                    class="icon node-icon"></span>Parent 4
            </li>
            <li style="color:undefined;background-color:undefined;" data-nodeid="8"
                class="list-group-item node-treeview3"><span class="icon glyphicon"></span><span
                    class="icon node-icon"></span>Parent 5
            </li>
        </ul>
    </div>-->
</div>


</html>