<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
	<div th:replace="globalFragments/head :: head"></div>
</head>
<body>
	<div th:replace="globalFragments/header :: topMenu"></div>
	<!--container-->
	<div class="container-fluid">
		<!--row-->
		<div class="row">
			<!--left-->
			<div class="col-md-2" id="leftCol" th:fragment="filterProductFragment">
				<div class="nav nav-stacked" id="sidebar">
					<h3 th:text="#{filterPart.filter}"></h3>
					<form class="container-fluid" 
						th:action="@{/components/disk/ssdDisk?pageNumber=1}" th:object="${filter}"
						method="post">
						<div
							th:replace="productFilter/productFilter :: productFilterFragment">
						</div>
						<div
							th:replace="productFilter/diskFilter :: diskFilterFragment">
						</div>
						<div
							th:replace="productFilter/ssdDiskFilter :: ssdDiskFilterFragment">
						</div>
						<button type="submit" class="btn btn-default"
							th:text="#{filterPart.filter}"></button>
						<!--  <input type="submit" th:value="#{leftSide.filterButton}" />-->
					</form>
				</div>
			</div>
			<!--/left-->

			<!--right-->
			<div class="col-md-9" th:fragment="productListFragment">
				<div class="row">
					<div class="col-sm-6 col-md-3" th:each="product : ${productList}">
						<a  th:href="@{'/components/disk/ssdDisk/'+'__${product.id}__'}"  style="color:black">
							<div class="thumbnail">
								<img th:src="@{__${product.imageDirectory}__}"
									alt="Generic placeholder thumbnail" />
							</div>
							<div class="caption">
								<h3 th:text="${product.producer}"></h3>
								<p style="margin: 0px"
									th:text="#{disk.interface}+': '+${product.diskInterface}"></p>
								<p style="margin: 0px"
									th:text="#{disk.capacity}+': '+${product.capacity}+' GB'"></p>
								<p style="margin: 0px"
									th:text="#{ssdDisk.readSpeed}+': '+${product.readSpeed}+' MB/s'"></p>
								<p
									th:text="#{ssdDisk.writeSpeed}+': '+${product.writeSpeed}+' MB/s'"></p>
								<div
									th:replace="shoppingCartButton :: shoppingCartButton"></div>
							</div>
						</a>	
					</div>
				</div>
				
						<div class="nav navbar-nav navbar-right">
								<ul class="pagination pagination-lg">
										<li th:each="i: ${#numbers.sequence(1,'__${numberOfPages}__')}">
											<form th:action="@{'/components/disk/ssdDisk?pageNumber='+'__${i}__'}" th:method="post"  th:object="${ssdDiskPaginationFilter}" style="display: inline;">
												

												<input type="hidden" th:field="${ssdDiskPaginationFilter.producerList}"></input>
												<input type="hidden" th:field="${ssdDiskPaginationFilter.minPrice}"></input>
												<input type="hidden" th:field="${ssdDiskPaginationFilter.maxPrice}"></input>
												
												<input type="hidden" th:field="${ssdDiskPaginationFilter.diskInterfaceList}"></input>
												<input type="hidden" th:field="${ssdDiskPaginationFilter.diskSizeList}"></input>
												<input type="hidden" th:field="${ssdDiskPaginationFilter.minCapacity}"></input>
												<input type="hidden" th:field="${ssdDiskPaginationFilter.maxCapacity}"></input>
												
												<input type="hidden" th:field="${ssdDiskPaginationFilter.minWriteSpeed}"></input>
												<input type="hidden" th:field="${ssdDiskPaginationFilter.maxWriteSpeed}"></input>
												<input type="hidden" th:field="${ssdDiskPaginationFilter.minReadSpeed}"></input>
												<input type="hidden" th:field="${ssdDiskPaginationFilter.maxReadSpeed}"></input>
												
												<button type="submit" class="btn btn-default"  th:text="${i} "></button>
											</form>
										</li>
									<!--  <p th:if="${param.pageNumber=='__${i}__'}"></p> -->
								</ul>
						</div>
			</div>
			<!--/right-->
		</div>
		<!--/row-->
	</div>
	<!--/container-->
	<!--  
	<script >
		$('.tree-toggle').click(function() {
			$(this).parent().children('ul.tree').toggle(200);
		});

		$('.collapse').on(
				'shown.bs.collapse',
				function() {
					$(this).parent().find(".glyphicon-plus").removeClass(
							"glyphicon-plus").addClass("glyphicon-minus");
				}).on(
				'hidden.bs.collapse',
				function() {
					$(this).parent().find(".glyphicon-minus").removeClass(
							"glyphicon-minus").addClass("glyphicon-plus");
				});

		function showMe(domElementToHide, thisElement) {
			document.getElementById(domElementToHide).style.display = (thisElement.checked) ? "block"
					: "none";
		}
	</script>
	-->
	
	<script src="/js/filterToggle.js"></script>
</body>
</html>